*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 600px;
    margin: 0 auto;
}

img{
    width: 348px;
    height: 223px;
    margin: 0 150px;
}

h1{
    margin-top: 72px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 49px;
    font-weight: 200;
    

}

.oragen{
    color: #FF9900;
    font-weight: 700;
}

.p-container{
    margin-top: 32px;
}

p{
    color: #7D7987;
    text-align: center;
    font-family: 'Inter', 'Open-Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 28px;
}

.dark-grey{
    color: #7D7987;
    font-weight: 700;
}

footer{
    text-align: center;
    margin-top: 72px;
   
}

footer a {
    color: #FF9900;
    font-family: 'Open-sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}

footer a+a{
    margin-left: 10px;
}

